body{
    margin:0;
    height:100vh;
    width:100vw;
}

#mainContainer {
    position:absolute;
    top:0;
    left:0;
    transform-origin:0% 0%;
    width:100%;
    transform:  translateX(0px) rotate(0deg);
    overflow: hidden;
}

#city {
    position:absolute;
    top:0;
    left:0;
    height:30vw;
    width:100%;
    z-index:-1;
    display: block;
}

#myCanvas {
    background:transparent;
    z-index: 100;
}

.aImg {
    display:none;
}

#mainContainer {
    display:none;
}

#scoreDiv {
    position:absolute;
    right:0;
    background:transparent;
    display:inline-block;
    border:3px solid red;
    padding:3px 50px 3px 10px;
    border-radius:20px;
    font-weight:700;
    font-size:24px;
    height:30px;
    margin:10px;
    z-index:1000;
    transform-origin:100% 0%;
}

#cn {
    height:52px;
    width:52px;
    background:red;
    position:absolute;
    right:-8px;
    top:-8px;
    border-radius:50%;
}

.gameHome {
    position:absolute;
    top:0;
    left:0;
    background:#fff;
    height:100vh;
    width:100vw;
    transform-origin:0% 0%;
    text-align:center;
}

#gameTitle {
    text-align:center;
    font-family:cursive;
    font-size:35px;
    margin-top:50px;
    font-weight:800;
}

#playBtn {
    font-size:20px;
    display:inline-block;
    background:#1642ea;
    color:#fff;
    padding:3px 25px;
    margin-top: 100px;
    border:none;
    border-radius:10px;
    box-shadow:3px 4px #000;
    outline:none;
}

#gameConf {
    width:50%;
    height:100%;
    background:red;
}

#gameDifficulty {
    width:100%;
    height:50%;
    background:blue;
    padding:0;
    margin:0;
}

.diffOpt {
    background:green;
    font-family: cursive;
    font-size: 20px;
    text-align:center;
}

#loading {
    height:60px;
    width:60px;
    background:transparent;
    display:inline-block;
    border:10px solid transparent;
    border-bottom-color:red;
    border-left-color:red;
    border-radius:50%;
    animation:ld 1s linear infinite;
}

@keyframes ld {
    0% {
        transform:translateY(-165px) rotate(0deg);
    }
    100% {
        transform:translateY(-165px) rotate(360deg);
    }
}